<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="315621376" />
      </requestFiltering>
    </security>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform
      processPath="%ProgramFiles%\nodejs\node.exe"
      arguments="--env-file-if-exists=.env scripts\start-production.mjs"
      startupTimeLimit="120"
      requestTimeout="00:05:00"
      stdoutLogEnabled="true"
      stdoutLogFile=".\logs\stdout">
      <environmentVariables>
        <environmentVariable name="NODE_ENV" value="production" />
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
